@{
    ViewData["Title"] = "Home Page";
}

<div class="center-div">
    <div class="col-md-12">
        <h2>Enter Location &amp; Destination</h2>
        <p>Travel Info is powered by <a href="https://docs.microsoft.com/aspnet/core">several free apis</a>.</p>
    </div>

    <form asp-controller="Home" asp-action="search" method="get">
        <div class="col-md-12" style="margin-top:10%; ">
            <div class=" input-group input-group-lg">
                <input type="text" name="location" class="form-control" placeholder="Departure Country" />
                <span class="input-group-addon">&ensp; &ensp; &ensp; &ensp;</span>
                <input type="text" name="destination" class="form-control" placeholder="Destination Country" />
            </div>
        </div>
        <br/>
        <div class="col-md-12" style="margin-top:5%;">
            <div class="form-group">
                <button class="btn btn-default">Search</button>
            </div>
        </div>
    </form>



</div>
