@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="center-div-wide">
    <div class="col-md-12">
        <h3>Privacy Policy</h3>
        <p>Use of this service is subject to policies from our providers listed at <a asp-action="Credits">Credits</a></p>
    </div>
</div>